#backgroundInput{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-family: "Product-Sans-Bold";
    color: #474747;
    gap: 0.9vh;
    height: 10vh;
}

#input{
    height: 2vh;
    padding: 0 1vw;
    border: none;
    border-radius: 2.5vh;
    margin-bottom: 1vh;
    background-color: #F1EFE9;
    outline: none;
    font-family: "Product-sans";
}

#span{
    font-size: 1.9vh;
    align-self: start;
}

.input-img{
    display: flex;
}

.input-img .img{
    height: 5vh;
    background-color: #DFDEDB;
    border: none;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
    padding-top: 1.1vh;
    padding-left: 1.5vh;
}

.input-img{
    width: 2vw;
}

.input-img input{
    height: 5vh;
    border: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    padding: 1vh;
    background-color: #DFDEDB;
    outline: none;
    font-family: "Product-Sans";
}

.img img{
    height: 2vh;
    width: 2vw;
}