#backgroundInput{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-family: "Product-Sans-Bold";
    color: #474747;
    gap: 0.9vh;


}

#input{
    height: 36px;
    padding: 0 15px;
    border: none;
    border-radius: 35px;
    margin-bottom: 15px;
    background-color: #F1EFE9;
    outline: none;
    font-family: "Product-sans";
}

#span{
    font-size: 1.9vh;
    align-self: start;
}