.select{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.select select{
    height: 5vh;
    padding: 0 1vw;
    border: none;
    border-radius: 2.5vh;
    margin-bottom: 1vh;
    background-color: #F1EFE9;
    outline: none;
    font-family: "Product-sans";
}