#botao{
    padding: 2vh 2vw;
    text-decoration: none;
    border: 4px solid var(--btn-milton);
    border-radius: 5vh;
    color: #F1EFE9;
    cursor: pointer;
    font-family: "Product-Sans-bold";
    font-size: 2vh;
    width: 9vw;
}
