.box{
    display: flex;
    flex-direction: column;

}

.container{
    width: 62vw;
    height: 73vh;
    background-color: #ECEAE5;
    border-radius: 4vh;
    margin-top: 3vh;
    padding-left: 5vw;

}

.container-ordem{
    width: 62vw;
    height: 72vh;
    background-color: #ECEAE5;
    border-radius: 4vh;
    margin-top: 3vh;
    padding: 2vh 1.5vw;
    display: flex;
    flex-direction: column;
}

.header-coluna{
    display: flex;
}

.coluna{
    flex: 1;
    text-align: left;
    margin-top: 2.5vh;
}

.coluna:nth-last-child(1) h3{
    text-align: right;
    padding-right: 7vw;
}

.coluna h3{
    font-size: 2vh;
    margin: 0;
    color: #474747;
}

.linhas{
    width: 100%;
    height: 83%;
    margin-top: 2vh;
}

.mudar-pagina{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vw;

}

.mudar-pagina img{
    width: 2vh;
    cursor: pointer;
}

.inputs-row{
    display: flex;
}

.inputs-row, .input-lupa, .input-calendario{
    display: flex;
}

.inputs-row{
    gap: 1vw;
}

.input-lupa .lupa, .input-calendario .calendario{
    height: 5vh;
    background-color: #DFDEDB;
    border: none;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
    padding-top: 1.1vh;
    padding-left: 1.5vh;
}

.input-lupa input, .input-calendario input{
    width: 100%;
    height: 5vh;
    border: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    padding: 1vh;
    background-color: #DFDEDB;
    outline: none;
    font-family: "Product-Sans";
}