.box{
    display: flex;
    flex-direction: column;

}

.container{
    width: 62vw;
    height: 76vh;
    background-color: #ECEAE5;
    border-radius: 4vh;
    margin-top: 3vh;
}

.header-coluna{
    display: flex;
}

.coluna{
    flex: 1;
    text-align: center;
    margin-top: 2.5vh;
}

.coluna h3{
    font-size: 2vh;
    margin: 0;
    color: #474747;
}

.linhas{
    width: 100%;
    height: 80%;
    margin-top: 2vh;
}

.mudar-pagina{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.mudar-pagina img{
    width: 4vh;
    cursor: pointer;
}

.inputs-row{
    display: flex;
}