.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1efe9;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 35vw;
    height: 35vh;
    background-color: #f7f5f1;
    border-radius: 5vh;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 4vh;
}

.container h4{
    font-size: 2.25vh;
    color: #474747;
    margin-top: 1vh;
}

.botao{
    display: flex;
    justify-content: center;
    gap: 6vh;
    margin-top: 4vh;
}

.container .botao a{
    padding: 2vh 8vh;
    color: #fefefe;
    border-radius: 6vh;
    cursor: pointer;
}

.container .botao a:nth-child(1){
    background-color: #C66D2C;
}

.container .botao a:nth-child(2){
    color: #9e9e9e;
    border: 3px solid #9e9e9e;
}