.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 100vw;
  height: 100vh;
}

.container-box{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.titulo{
  width: 35vw;
  margin-bottom: 3vh;
  color: #474747;
  font-family: 'Product-Sans';
}

.titulo h1{
  font-size: 7vh;
}

.titulo h4{
  font-weight: lighter;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 40vh;
  background-color: #ECEAE5;
  border-radius: 10vh;
  padding: 0 6vw;
}

.logo{
  display: flex;
  width: 100vw;
  padding: 5vh;
}

.button{
  margin-top: 4vh;
}

.box-inputs{
  width: 100%;
}