.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

nav{
    top: 2%;
    left: 0;
    height: 10vh;
    width: 90vw;
    display: flex;
    max-height: 12vh;
    min-height: 8vh;
    align-items: center;
    justify-content: space-between;
    color: #474747;
}

.logo{
    height: 77%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 7%;
}

.img-logo{
    height: inherit;
}

.menu{
    width: 38%;
    height: 75%;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f9f8f5a4;
}

.menu span{
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 10vw;
    right: 7%;
    gap: 0.5vw;
}
.perfil-logout{
    display: flex;
}

.logout{
    padding-left: 1.5vw;
}

.foto-perfil{
    height: 100%;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto-perfil img{
    height: 75%;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oficina{
    font-family: "Product-sans";
    white-space: nowrap;
    font-size: 2.2vh;
}
.nome{
    white-space: nowrap;
    font-size: 2.2vh;

}


.menu span img {
    height: 37%;
    filter: grayscale(100%);
    opacity: 0.6;
}

.menu span.active img {
    filter: grayscale(0%);
    opacity: 1;
}

.icon-logout{
    height: 4vh;
    cursor: pointer;
}

