@font-face {
    font-family: "Product-Sans";
    src: url("../utils/fonts/Product\ Sans\ Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Product-Sans-bold";
    src: url("../utils/fonts/Product\ Sans\ Bold.ttf") format("truetype");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 00;
    color: black;
    font-family: "Product-Sans-bold", sans-serif;
    background-color: #f1efe9;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}