.menu-left{
    height: 84vh;
    width: 7vw;
    background-color: #f9f8f5af;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4vh;
}

.img-config{
    width: 4vw;
    height: 4vw;
    margin-bottom: 2vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-config:hover{
    background-color: #EDEBE6;
}

.menu-left a{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.imgs-cima{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active{
    background-color: #EDEBE6;
}