.box{
    display: flex;
    flex-direction: column;
}

.container{
    width: 26vw;
    height: 73vh;
    background-color: #f9f8f5af;
    margin-top: 3vh;
    border-radius: 4vh;
    padding: 3.5vh 5vh 3.5vh 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container span{
    font-size: 2vh;
    color: #474747;
}

.botao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
